
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Ajuste a família da fonte conforme necessário */
  }
  
  .container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .Col-form-ant{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  /* Adicione estilos adicionais conforme necessário */
  

  
  
  .Col-form{
    width: 80%;
    background: white;
    min-height: 80%;
    display: flex;
    flex-direction: row;
    
    

  }
  /* Adicione estilos adicionais conforme necessário */
  
#table{
  padding: 15px;
}


.card-form{
  background: gray;
  width: 100%;
  
}


.row-import-pages{
  width: 100%;
}

.button-center {
  display: flex;
  justify-content: space-around;
}